.DS_Store
.build/
DerivedData/
*.xcodeproj
*.xcworkspace
*.swp
*.swx
*~.nib
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
Pods/
*.framework
*.app
*.plist
*.json
*.yaml
*.yml
.env
.env.*
node_modules/
.vscode/
.idea/
*.orig
*.rej
*.bak
*.tmp
*.log
coverage/
.xcode/
swiftpm/
Package.resolved